@model List<CartViewModel>;
@using Newtonsoft.Json
@using System.Globalization;
@{
    decimal price = 0;

    if (Context.Request.Cookies["cart"] != null)
    {
        List<CartViewModel> list = JsonConvert.DeserializeObject<List<CartViewModel>>(Context.Request.Cookies["cart"]);
        foreach (var item in list)
        {
            price += item.Quantity * item.product.Pro_Price;
        }
    }
    else
    {
        price = 0;
    }
}
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Cart</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================Cart Table Area =================-->
<section class="cart_table_area p_100">
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="tr-@Model.IndexOf(item)">
                            <td>
                                <img src="~/img/product/cart-img.jpg" alt="">
                            </td>
                            <td>@item.product.Pro_Name</td>
                            <td>@item.product.Pro_Price.ToString("C0", new CultureInfo("vi-VN"))</td>
                            <td>
                                <input type="text" value="@item.Quantity" id="quantity" />
                            </td>
                            <td>@(item.product.Pro_Price*item.Quantity)</td>
                            <td><button class="remove_item" data-index="@Model.IndexOf(item)" data-quantity="@item.Quantity">X</button></td>
                        </tr>
                    }

                    <tr>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Coupon code">
                                </div>
                                <button type="submit" class="btn">Apply Coupon</button>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row cart_total_inner">
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <div class="cart_total_text">
                    <div class="cart_head">
                        Cart Total
                    </div>
                    <div class="sub_total">
                        <h5>Sub Total <span>@price.ToString("C0", new CultureInfo("vi-VN"))</span></h5>
                    </div>
                    <div class="total">
                        <h4>Total <span>@price.ToString("C0", new CultureInfo("vi-VN"))</span></h4>
                    </div>
                    <div class="cart_footer">
                        <a class="pest_btn" asp-controller="Orders" asp-action="Checkout">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Table Area =================-->
<script src="~/js/jquery-3.2.1.min.js"></script>
<script>
    $(".remove_item").on('click', function (e) {
        var index = $(this).data("index");
        var quantity = $(this).data("quantity");
        console.log(index);
        e.preventDefault();
        $.get('/Orders/RemoveFromCart?index=' + index, function (data) {

            var count = parseInt($("#lblCartCount").text()) - parseInt(quantity);
            $("#lblCartCount").text(count);
            if (count == 0) {
                window.location.href = '@Url.Action("Index","Home")';
            }
            $("#tr-" + index).remove();
           

        });
    });

</script>

