@model CakeShop.Domain.Entities.Product;
@using System.Globalization;
@{
    ViewData["Title"] = "Detail";
}

<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Product Details</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="product-details.html">Product Details</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================Product Details Area =================-->
<section class="product_details_area p_100">
    <div class="container">
        <div class="row product_d_price">
            <div class="col-lg-6" id="Flying">
                <div class="product_img"><img class="img-fluid"  src="~/img/product/product-details-1.jpg" alt=""></div>
            </div>
            <div class="col-lg-6">
                <div class="product_details_text">
                    <h4>@Model.Pro_Name</h4>
                    <p>@Model.Pro_Description</p>
                    <h5>Price :<span>@Model.Pro_Price.ToString("C0", new CultureInfo("vi-VN"))</span></h5>
                    <div class="quantity_box">
                        <label for="quantity">Quantity :</label>
                        <input type="text" placeholder="1" value="1" id="Detail_Quantity" >
                    </div>                  
                    <button class="pink_more" id="btn_AddToCart" data-id="@Model.Pro_Id" >Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="product_tab_area">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descripton</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Nutrient Fact</a>
                    @*<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Review (0)</a>*@
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p>@Model.Pro_Description</p>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <section class="performance-facts">
                        <header class="performance-facts__header">
                            <h1 class="performance-facts__title">Nutrition Facts</h1>
                            <p>Serving Size 1 cake (about 82g)
                            <p>Serving Per Container 1</p>
                        </header>
                        <table class="performance-facts__table">
                            <thead>
                                <tr>
                                    <th colspan="3" class="small-info">
                                        Amount Per Serving
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th colspan="2">
                                        <b>Calories</b>
                                        200
                                    </th>
                                    <td>
                                        Calories from Fat
                                        130
                                    </td>
                                </tr>
                                <tr class="thick-row">
                                    <td colspan="3" class="small-info">
                                        <b>% Daily Value*</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">
                                        <b>Total Fat</b>
                                        14g
                                    </th>
                                    
                                </tr>
                               
                              
                                <tr>
                                    <th colspan="2">
                                        <b>Cholesterol</b>
                                        55mg
                                    </th>
                                    
                                </tr>
                                <tr>
                                    <th colspan="2">
                                        <b>Sodium</b>
                                        40mg
                                    </th>
                                    
                                </tr>
                                <tr>
                                    <th colspan="2">
                                        <b> Carbohydrate</b>
                                        17g
                                    </th>
                                   
                                </tr>
                               
                               
                                <tr class="thick-end">
                                    <th colspan="2">
                                        <b>Protein</b>
                                        3g
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </section>

                </div>
                @*<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">*@

                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script>
    $("#btn_AddToCart").on('click', function (e) {
        var Pro_id = $(this).data("id");
        var quantity = $('#Detail_Quantity').val();
        console.log(quantity)
        e.preventDefault();
        $.get('/Orders/AddProductToCart?Pro_id=' + Pro_id + '&Quantity=' + quantity, function (data) {
           
            flyToElement($(".product_img"), $("#cart_count"));
            if ($("#lblCartCount").val() != null) {
                $("#lblCartCount").text(parseInt($("#lblCartCount").text()) + parseInt(quantity));

            } else {
                $("#cart_count").append('<span class=\'badge badge-warning\' id=\'lblCartCount\' disabled=\"true\">' + parseInt(quantity) + ' <\/span >');
            }

        });
    });
    function flyToElement(flyer, flyingTo) {
        var divider = 3;
        var flyerClone = $(flyer).clone();
        $(flyerClone).css({ position: 'absolute', top: $(flyer).offset().top + "px", left: $(flyer).offset().left + "px", opacity: 1, 'z-index': 1000 });
        $('body').append($(flyerClone));
        var gotoX = $(flyingTo).offset().left + ($(flyingTo).width() / 2) - ($(flyer).width() / divider) / 2;
        var gotoY = $(flyingTo).offset().top + ($(flyingTo).height() / 2) - ($(flyer).height() / divider) / 2;

        $(flyerClone).animate({
            opacity: 0.4,
            left: gotoX,
            top: gotoY,
            width: $(flyer).width() / divider,
            height: $(flyer).height() / divider
        }, 700,
            function () {
                $(flyingTo).fadeOut('fast', function () {
                    $(flyingTo).fadeIn('fast', function () {
                        $(flyerClone).fadeOut('fast', function () {
                            $(flyerClone).remove();
                        });
                    });
                });
            });
    }

</script>

